<mat-card class="mat-elevation-z5">
<mat-card class="inside">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Doesn't have an account yet?&nbsp;&nbsp;&nbsp;<a routerLink="">Sign Up</a></mat-card-subtitle>
    <p>Email Address</p>
        <input matInput placeholder="you@gmail.com">
    <p>Password <a routerLink="" class="fp">Forget Password?</a></p>
        <input matInput placeholder="Enter 6 Character or more">
         <mat-checkbox>Remember Me</mat-checkbox>
         <button mat-button>LOGIN</button>
         <P class="poda">-------or Sign in-------</P>
         <button mat-button class="google">google</button>
         <button mat-button class="fb">facebook</button>
    </mat-card>
    <img mat-card-image src="https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7863.jpg?w=740&t=st=1692359678~exp=1692360278~hmac=05a819caeb14bb7c2ee4c83c23dddc0c3328860bc606689174c580933d3b6199">
</mat-card>

